[user]
	name = Mike Kunkel
	email = mike@mkunkel.com
[alias]
	cm = commit -v
	co = checkout
	ap = add -p
	logg = log --graph --decorate --pretty=oneline --abbrev-commit --all

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
