[user]
	name = Mike Kunkel
	email = mike@mkunkel.com
[alias]
	pf = "!git push --force-with-lease origin \"$(git rev-parse --abbrev-ref HEAD)\""
	cm = commit -v
	co = checkout
	ap = add -p
	logg = log --graph --decorate --pretty=oneline --abbrev-commit --all
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[pull]
	rebase = true
[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
[init]
	defaultBranch = main
[url "ssh://git@github.com/"]
  insteadOf = git://github.com/
	insteadOf = https://github.com/
