[user]
	name = Mike Kunkel
	email = mike@mkunkel.com
[alias]
	pf = "!git push --force-with-lease origin \"$(git rev-parse --abbrev-ref HEAD)\""
	cm = commit -v
	co = checkout
	ap = add -p
	logg = log --graph --decorate --pretty=oneline --abbrev-commit --all

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[pull]
	rebase = true
